# Pliki środowiskowe
.env
# Express.js ignore files
node_modules/
dist/

*.log
*.gz
*.log

/.vscode
/.idea
*.tmp
*.temp
*.bak

# Logi błędów
npm-debug.log*

# Plik konfiguracyjny Yarn
.yarn

# Pliki tymczasowe Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Pliky Visual Studio Code
.vscode/
*.code-workspace

# Katalog yarn cache
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml

# Katalogi specyficzne dla różnych narzędzi
.idea/
.eslintcache
.pnp/
.pnpm/
npm-debug.log*
yarn-error.log*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
test*.json
market-history*.json