.transaction-overview {
  padding: 24px;
  margin: 0 auto;
}

.overview-title {
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 24px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.empty-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  flex: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: #111827;
  margin-bottom: 1.5rem;
}

.empty-colNames {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

@media (min-width: 640px) {
  .empty-colNames {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
}

.empty-fetched {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: larger;
}

.empty-fetched:hover {
  color: #111827;
}

.query-container {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.market-loading {
  width: 100%;
}

.no-items-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #6c757d;
  height: 100%;
  font-size: large;
}

.empty-no-items {
  color: #6c757d;
}
