.event-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.event-group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.filter-label {
  font-weight: 500;
  padding-right: 2rem;
  margin-left: 4px;
  color: #4a4a4a;
  font-size: 14px;
}

.checkbox-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checkbox-input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
