.event-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.event-group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.filter-label {
  font-weight: 500;
  padding-right: 2rem;
  margin-left: 4px;
  color: #4a4a4a;
  font-size: 14px;
}

.checkbox-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checkbox-input {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: rgb(101, 148, 241);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.checkbox-input:checked,
.checkbox-input:checked::before {
  background-color: rgb(101, 148, 241);
}

.checkbox-input:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.checkbox-input:not(:checked) {
  background-color: white;
  border: 1px solid rgb(101, 148, 241);
}
